.App {
	width: 50%;
	height: 400px;
	display: flex;

	flex-direction: column;
	justify-content: flex-start;

	margin: auto;
  	text-align: left;
}
p {
	height: auto;
}
ul {
	padding: 0;
}

 li {
	width: 100%;
	display: flex;		
	align-content: center;
 }

 .bookItem-title {
	width: 75%;
 }
div, input {
	width: 100%;

	margin: 2% auto;
	box-sizing: border-box;
}

button {
	width: auto;
	height: 30px;
	margin: auto 0 auto 2%;
}



